<!DOCTYPE html>
<html>
  <head>
    <title>My first Vue app</title>
    <script src="https://unpkg.com/vue"></script>
    <style>
      #shared2dTextureCnvs {
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <!--
        {{ message }}
        v-bind:title="message"
        v-if="seen"
        v-if="name==='tef'"
      -->
      <!-- ==== CNVS PART ==== -->
      <canvas id="shared2dTextureCnvs" width="300" height="300"></canvas>
      <!-- quick debug infos -->
      <p>
        Active face: {{ shirtData.activeFace }} / Type: {{
        shirtData.activeFaceType }}
      </p>
      <p>Active face infos: {{ shirtData.facesDatas[shirtData.activeFace] }}</p>
      <p>
        Active face Type Data: {{
        shirtData.facesDatas[shirtData.activeFace][shirtData.activeFaceType] }}
      </p>
      <!-- controls acting only on the currently selected 'face' data -->
      <button v-on:click="shirtData.activeFaceType = 'outer'">Outer</button>
      <button v-on:click="shirtData.activeFaceType = 'inner'">Inner</button>
      <!-- toggle this chunk on/off ? -->
      <!-- display either inner or outer data for active face if any -->
      <!--
      <ol>
        <li
          v-for="paramName in Object.keys(shirtData.facesDatas[shirtData.activeFace])"
        >
          <! --
            {{ paramName }} {{
          shirtData.facesDatas[shirtData.activeFace][shirtData.activeFaceType]
          }}
          -- >
          <span v-if="paramName === shirtData.activeFaceType">
            Selected param: {{ paramName }} ==> {{
            shirtData.facesDatas[shirtData.activeFace][shirtData.activeFaceType][paramName]
            }}
          </span>
        </li>
      </ol>
      -->
      <!-- display buttons to toggle visibility, reset, .. -->
      <!-- show a button to add one with default params -->
      <button
        v-on:click="addDefaultGraphicItem(shirtData.activeFace, shirtData.activeFaceType)"
      >
        Add a graphic item to {{shirtData.activeFace }} -->
        {{shirtData.activeFaceType }}
      </button>
      <!-- display list of existing graphic items for that face inner/outer chunk -->
      <ol>
        <!-- v-for="graphicItem in shirtData.facesDatas[shirtData.activeFace][shirtData.activeFaceType].graphics" -->
        <li
          v-for="(graphicItem, graphicItemIdx) in shirtData.facesDatas[shirtData.activeFace][shirtData.activeFaceType].graphics"
        >
          {{ graphicItem.name }} ( idx: {{ graphicItemIdx }}, buddy: {{
          graphicItem.buddy }} )
          <!-- to rename the graphic item: quick & indeed successful test for instant renaming -->
          <input v-model="graphicItem.name" />
          <!-- to specify its 'type' ( shape, image, text or pattern -->
          <select v-model="graphicItem.type">
            <option disabled value="">Select a graphic item type</option>
            <!--
                <option>A</option>
              <option>B</option>
              <option>C</option>
              -->
            <option v-for="graphicType in shirtData.graphicsTypes"
              >{{ graphicType }}</option
            >
          </select>
          <!-- to remove the current graphic item -->
          <button
            v-on:click="removeGraphicItem(shirtData.activeFace, shirtData.activeFaceType, graphicItemIdx)"
          >
            Remove
            <!-- {{ graphicItem.name }} -->
          </button>
          <!-- to move the current graphic item upmost -->
          <button
            v-on:click="layerUpMostGraphicItem(shirtData.activeFace, shirtData.activeFaceType, graphicItemIdx)"
          >
            Layer UpMost
            <!-- {{ graphicItem.name }} -->
          </button>
          <!-- to move the current graphic item up -->
          <button
            v-on:click="layerUpGraphicItem(shirtData.activeFace, shirtData.activeFaceType, graphicItemIdx)"
          >
            Layer Up
            <!-- {{ graphicItem.name }} -->
          </button>
          <!-- to move the current graphic item down -->
          <button
            v-on:click="layerDownGraphicItem(shirtData.activeFace, shirtData.activeFaceType, graphicItemIdx)"
          >
            Layer Down
            <!-- {{ graphicItem.name }} -->
          </button>
          <!-- to move the current graphic item downmost -->
          <button
            v-on:click="layerDownMostGraphicItem(shirtData.activeFace, shirtData.activeFaceType, graphicItemIdx)"
          >
            Layer DownMost
            <!-- {{ graphicItem.name }} -->
          </button>
          <!-- some params common to each 'type' of graphic item -->
          Position X:
          <input
            type="range"
            v-model="graphicItem.position.x"
            min="-1"
            max="1"
            step="0.01"
          />
          Y:
          <input
            type="range"
            v-model="graphicItem.position.y"
            min="-1"
            max="1"
            step="0.01"
          />
          Scale X:
          <input
            type="range"
            v-model="graphicItem.scale.x"
            min="-10"
            max="10"
            step="0.01"
          />
          Y:
          <input
            type="range"
            v-model="graphicItem.scale.y"
            min="-10"
            max="10"
            step="0.01"
          />
          Rotation:
          <input
            type="range"
            v-model="graphicItem.rotationInDeg"
            min="0"
            max="360"
            step="0.01"
          />
          <!-- some more parameters depending on the 'type' of graphic item -->
          <span v-if="graphicItem.type === 'shape'">Shape Params Here !</span>
          <span v-else-if="graphicItem.type === 'text'"
            >Text Params Here !
            <input type="text" v-model="graphicItem._textValue"/>
            <input type="text" v-model="graphicItem._textSize"/>
            <input type="checkbox" v-model="graphicItem._textStroked"/>
            <!-- <input type="color" v-model="graphicItem._textStrokeColor" value="" v-bind:defaultValue="graphicItem._textStrokeColor"/> -->
            <!-- <input type="color" v-model="graphicItem.testColor" /> -->
            <input type="color" v-model="graphicItem._textStrokeColor" />
            <input type="checkbox" v-model="graphicItem._textFilled"/>
            <!-- <input type="color" v-model="graphicItem._textFillColor" v-bind:value="graphicItem._textFillColor"/> -->
            <!-- <input type="color" v-bind:value="graphicItem._textFillColor"/>-->
            <input type="color" v-model="graphicItem._textFillColor" />
            </span
          >
          <span v-else-if="graphicItem.type === 'image'"
            >Image Params Here !</span
          >
          <span v-else-if="graphicItem.type === 'pattern'"
            >Pattern Params Here !</span
          >
          <span v-else>Other Type Params Here !</span>
        </li>
      </ol>

      <!-- display that graphic ityems type/data/params/.. -->

      <!-- display a link for each avaialable 'face'-->
      <ul>
        <li v-for="facesLabel in shirtData.facesLabels">
          <!-- {{ todo.text }} -->
          <!-- {{ facesLabel }} -->
          <button v-on:click="shirtData.activeFace = facesLabel">
            {{ facesLabel }}
          </button>
        </li>
      </ul>

      <!-- display a link for each avaialable 'face': ab-using Object.keys yet effective -->
      <ul>
        <li v-for="facesDataKey in Object.keys(shirtData.facesDatas)">
          <!-- {{ todo.text }} -->
          {{ facesDataKey }} {{ shirtData.facesDatas[facesDataKey].color }}
          <ol>
            <li
              v-for="paramName in Object.keys(shirtData.facesDatas[facesDataKey])"
            >
              {{ paramName }} --> {{
              shirtData.facesDatas[facesDataKey][paramName] }}
              <span v-if="paramName === 'outer'">Outer one found</span>
              <span v-else>Other than Outer one found</span>
            </li>
          </ol>
          <!--
          <button v-on:click="shirtData.activeFace = facesLabel">
            {{ facesLabel }}
          </button>
          -->
        </li>
      </ul>
    </div>

    <script>
      var app = new Vue({
        el: "#app",
        data: {
          //shared2dTextureCnvs: document.querySelector("#shared2dTextureCnvs"),
          //shared2dTextureCnvsCtx: shared2dTextureCnvs.getContext("2d"),
          shared2dTextureCnvsCtx: undefined,
          shirtData: {
            activeFace: "global",
            activeFaceType: "outer",
            activeShirtConfigName: "defaultShirtdata", // R: not currently/yet used
            // R: inside & outside for each of those !
            facesLabels: ["global", "front", "back", "Lshoulder", "Rshoulder"],
            graphicsTypes: ["shape", "image", "text", "pattern"],
            facesDatas: {
              //configName: "defaultShirtdata", // a configuration name ( could be useful to save / load different configs )
              global: {
                // for each faceData:  color, mask, maskCoords, graphics, .. cameraParams, ..
                outer: { color: "red", graphics: [], visible: true },
                inner: { color: "red", graphics: [], visible: true },
                color: "cyan" // kept for debugging purposes
              },
              front: {
                outer: { color: "red", graphics: [], visible: true },
                inner: { color: "red", graphics: [], visible: true },
                color: "red"
              },
              back: {
                outer: { color: "red", graphics: [], visible: true },
                inner: { color: "red", graphics: [], visible: true },
                color: "red"
              },
              Lshoulder: {
                outer: { color: "red", graphics: [], visible: true },
                inner: { color: "red", graphics: [], visible: true },
                color: "red"
              },
              Rshoulder: {
                outer: { color: "red", graphics: [], visible: true },
                inner: { color: "red", graphics: [], visible: true },
                color: "red"
              }
            }
          }
          // other app data
        },
        watch: {
          "shirtData.facesDatas": {
            handler: function(val, oldVal) {
              /* ... */
              console.log(
                "shirtData.facesDatas updated --> likely needing a shared canvas update to visully reflect the changes .."
              );

              app.updateCanvas();
            },
            deep: true
          }
        },
        mounted: function() {
          console.log("mounted called ..");
          var shared2dTextureCnvs = document.querySelector(
            "#shared2dTextureCnvs"
          );
          var ctx = shared2dTextureCnvs.getContext("2d");
          this.shared2dTextureCnvsCtx = ctx;
          /*
                  var shared2dTextureCnvs = document.querySelector(
                    "#shared2dTextureCnvs"
                  );
                  //this.shared2dTextureCnvsCtx = shared2dTextureCnvs.getContext("2d");
                  app.shared2dTextureCnvsCtx = shared2dTextureCnvs.getContext("2d");
                  */
          /**/
          this.$nextTick(function() {
            console.log("nextTick called ..");
            // Code that will run only after the
            // entire view has been rendered
            /*
                    var shared2dTextureCnvs = document.querySelector(
                      "#shared2dTextureCnvs"
                    );
                    */
            /*
                    this.shared2dTextureCnvsCtx = shared2dTextureCnvs.getContext(
                      "2d"
                    );
                    */
            //app.shared2dTextureCnvsCtx = shared2dTextureCnvs.getContext("2d");
            /*
                    this.shared2dTextureCnvsCtx = shared2dTextureCnvs.getContext(
                      "2d"
                    );
                    */
            //var ctx = shared2dTextureCnvs.getContext("2d");
            //this.shared2dTextureCnvsCtx = ctx;
          });
          /**/
        },
        methods: {
          // ---- CNVS drawing helpers ----
          drawGraphic_image: function(textGraphicData){
            app.shared2dTextureCnvsCtx.save();
            app.shared2dTextureCnvsCtx.translate(((textGraphicData.position.x *
                  app.shared2dTextureCnvsCtx.canvas.width) /
                  2 +
                  app.shared2dTextureCnvsCtx.canvas.width / 2), ((textGraphicData.position.y *
                  app.shared2dTextureCnvsCtx.canvas.height) /
                  2 +
                  app.shared2dTextureCnvsCtx.canvas.height / 2));
            //app.shared2dTextureCnvsCtx.rotate(-Math.PI/2); // const test angle
            app.shared2dTextureCnvsCtx.rotate(textGraphicData.rotationInDeg*Math.PI/180); // R: deg to rad
            var tmpImg = new Image();
            tmpImg.onload = function(e){
              console.log('image to be drawn loaded, now adding to cnvs ..');
              //app.shared2dTextureCnvsCtx.drawImage(tmpImg, 0-tmpImg.width/2, 0-tmpImg.height/2); // centered img - bigger than cnvs dims
              var scaledDims = { width: tmpImg.width/4, height: tmpImg.height/4 }
              app.shared2dTextureCnvsCtx.beginPath();
              app.shared2dTextureCnvsCtx.drawImage(tmpImg, 0-scaledDims.width/2, 0-scaledDims.height/2, scaledDims.width, scaledDims.height); // centered img - bigger than cnvs dims
              app.shared2dTextureCnvsCtx.closePath();
              app.shared2dTextureCnvsCtx.resetTransform(); // bypass glitch with imgs ?
              app.shared2dTextureCnvsCtx.restore();
            }
            //tmpImg.src = 'https://i1.pngguru.com/preview/223/747/674/animales-23593-bubka-cat-icon-png-icon.jpg';
            //tmpImg.src ='https://img.favpng.com/7/13/8/computer-icons-portable-network-graphics-github-logo-png-favpng-bX7Gk3MtMJFGMEiYQ0mzpf8Bw.jpg';
            tmpImg.src = 'https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ8O4bRPCFhsitYTuVNv6-1QQvR_BOSCMKF8npZxPqyhee5j5oi&usqp=CAU';
          },
          /*
                    _textValue: "defaultTextValue",
                    _textFont: "Arial",
                    _textSize: "12",
                    _textFilled: true,
                    _textFillColor: "black",
                    _textStroked: true,
                    _textStrokeColor: "black",
                    _textHorizontalAlign: "top",
                    _textVerticalAlign: "left"
                */
          drawGraphic_text: function(textGraphicData) {
            //console.log("drawGraphic_text -->", textGraphicData);
            app.shared2dTextureCnvsCtx.textAlign =
              textGraphicData._textHorizontalAlign;
            app.shared2dTextureCnvsCtx.textBaseline =
              textGraphicData._textVerticalAlign;
            app.shared2dTextureCnvsCtx.font =
              textGraphicData._textSize + "px " + textGraphicData._textFont;
            /*  
            if (textGraphicData._textFilled === true) {
              app.shared2dTextureCnvsCtx.beginPath();
              app.shared2dTextureCnvsCtx.fillStyle =
                textGraphicData._textFillColor;
              app.shared2dTextureCnvsCtx.fillText(
                textGraphicData._textValue,
                //textGraphicData.position.x,
                //textGraphicData.position.y
                (textGraphicData.position.x *
                  app.shared2dTextureCnvsCtx.canvas.width) /
                  2 +
                  app.shared2dTextureCnvsCtx.canvas.width / 2,
                (textGraphicData.position.y *
                  app.shared2dTextureCnvsCtx.canvas.height) /
                  2 +
                  app.shared2dTextureCnvsCtx.canvas.height / 2
              );
              app.shared2dTextureCnvsCtx.closePath();
            }
            if (textGraphicData._textStroked === true) {
              app.shared2dTextureCnvsCtx.beginPath();
              app.shared2dTextureCnvsCtx.strokeStyle =
                textGraphicData._textFillColor;
              app.shared2dTextureCnvsCtx.strokeText(
                textGraphicData._textValue,
                //textGraphicData.position.x,
                //textGraphicData.position.y
                (textGraphicData.position.x *
                  app.shared2dTextureCnvsCtx.canvas.width) /
                  2 +
                  app.shared2dTextureCnvsCtx.canvas.width / 2,
                (textGraphicData.position.y *
                  app.shared2dTextureCnvsCtx.canvas.height) /
                  2 +
                  app.shared2dTextureCnvsCtx.canvas.height / 2
              );
              app.shared2dTextureCnvsCtx.closePath();
            }
            */
            // draw on possibly rotated ctx
            app.shared2dTextureCnvsCtx.save();
            // scaling correctly ?
            /* -- R: for text, 'd lead to stretching: better off using fontSize --
            if(textGraphicData._lockedScaleXY === true) {
              // TODO: know which of x or y was adjusted to adjust other one
              app.shared2dTextureCnvsCtx.scale(textGraphicData.scale.x, textGraphicData.scale.y);
            }
            else { app.shared2dTextureCnvsCtx.scale(textGraphicData.scale.x, textGraphicData.scale.y); }
            */
            // drawing text
            app.shared2dTextureCnvsCtx.translate(((textGraphicData.position.x *
                  app.shared2dTextureCnvsCtx.canvas.width) /
                  2 +
                  app.shared2dTextureCnvsCtx.canvas.width / 2), ((textGraphicData.position.y *
                  app.shared2dTextureCnvsCtx.canvas.height) /
                  2 +
                  app.shared2dTextureCnvsCtx.canvas.height / 2));
            //app.shared2dTextureCnvsCtx.rotate(-Math.PI/2); // const test angle
            app.shared2dTextureCnvsCtx.rotate(textGraphicData.rotationInDeg*Math.PI/180); // R: deg to rad
            // test
            //app.shared2dTextureCnvsCtx.fillText("Your Label Here", 0, 0); // to minus half ?
            if(textGraphicData._textFilled === true){
              app.shared2dTextureCnvsCtx.fillStyle = textGraphicData._textFillColor;
              app.shared2dTextureCnvsCtx.beginPath();
              app.shared2dTextureCnvsCtx.fillText(textGraphicData._textValue, 0, 0);
              app.shared2dTextureCnvsCtx.closePath();
            }
            if(textGraphicData._textStroked === true){
              app.shared2dTextureCnvsCtx.strokeStyle = textGraphicData._textStrokeColor;
              app.shared2dTextureCnvsCtx.beginPath();
              app.shared2dTextureCnvsCtx.strokeText(textGraphicData._textValue, 0, 0);
              app.shared2dTextureCnvsCtx.closePath();
            }
            app.shared2dTextureCnvsCtx.resetTransform(); // bypass glitch with imgs ?
            app.shared2dTextureCnvsCtx.restore();
          },
          // ---- CNVS-related ----
          updateCanvas: function() {
            // quick debug: R 'this' === 'app' here
            //app.shared2dTextureCnvsCtx.restore(); // prevent weird bug ? ( image can't be below text ? .. )
            //app.shared2dTextureCnvsCtx.save();
            //app.shared2dTextureCnvsCtx.resetTransform(); // bypass glitch with imgs ?
            app.shared2dTextureCnvsCtx.clearRect(0, 0, app.shared2dTextureCnvsCtx.canvas.width, app.shared2dTextureCnvsCtx.canvas.height);
            /**/
            //app.shared2dTextureCnvsCtx.clearRect(0, 0, 300, 300);
            /* quick test
            app.shared2dTextureCnvsCtx.beginPath();
            app.shared2dTextureCnvsCtx.fillStyle = "red";
            app.shared2dTextureCnvsCtx.fillRect(0, 0, 100, 100);
            app.shared2dTextureCnvsCtx.closePath();
            */

            console.log("updating canvas ..");
            Object.keys(app.shirtData.facesDatas).forEach(function(facesData) {
              if (
                typeof app.shirtData.facesDatas[facesData].visible ===
                  "undefined" ||
                app.shirtData.facesDatas[facesData].visible === true
              ) {
                // process the outer & inner chunk of the 'face'
                if (
                  typeof app.shirtData.facesDatas[facesData].outer !==
                  "undefined"
                ) {
                  // if has a mask specified, apply it prior to drawing
                  if (
                    typeof app.shirtData.facesDatas[facesData].outer.mask !==
                    "undefined"
                  ) {
                    console.log(
                      "mask to be applied before drawing graphics in here .."
                    );
                  }
                  // draw each graphics residing on the face's inner/outer chunk, starting by the bottom-most one
                  for (
                    var i =
                      app.shirtData.facesDatas[facesData].outer.graphics
                        .length - 1;
                    i >= 0;
                    i--
                  ) {
                    //app.shared2dTextureCnvsCtx.resetTransform(); // bypass glitch with imgs ?
                    console.log(
                      "drawing graphic item with idx:" +
                        i +
                        " from " +
                        facesData +
                        " outer stuff"
                    );
                    // use different helper fcns depending on the type of stuff to be drawn
                    if (
                      app.shirtData.facesDatas[facesData].outer.graphics[i]
                        .type === "text"
                    ) {
                      app.drawGraphic_text(
                        app.shirtData.facesDatas[facesData].outer.graphics[i]
                      );
                    } else if(app.shirtData.facesDatas[facesData].outer.graphics[i]
                        .type === "image"){
                          app.drawGraphic_image(
                        app.shirtData.facesDatas[facesData].outer.graphics[i]
                      );
                    }
                  }
                }
              }
            });
            //app.shared2dTextureCnvsCtx.restore(); // bypass weird bug effectively ?
            // once all faces data have been drawn, add the 'details' for the seams & the textures with overlay blending mode
          },
          // mapping pane controls to one of the 'faces'
          setActiveFace: function(e) {
            console.log("setActiveFace method triggered ..");
            console.log(this.value);
          },
          // adding a graphic item to a 'face' inner/outer chunk
          addDefaultGraphicItem: function(faceId, faceType) {
            app.shirtData.facesDatas[faceId][faceType].graphics.push({
              name: "defaultGraphicData",
              type: "shape", // shape||img||text||pattern
              buddy: (Math.random() * 10).toFixed(2), // tmp debug
              //idx: app.shirtData.facesDatas[faceId][faceType].graphics.length --> maybe use later for uid ?
              // some 'generic' params, common to all 'tpyes'
              position: { x: 0, y: 0 }, // R: 'll be relative to center OR top-left corner of 'face bounding rect'
              scale: { x: 1, y: 1 }, // R: is likely to need change depending on the dimensions of shape/img/txt/pattern
              _lockedScaleXY: true,
              rotationInDeg: 0, // 2D CW rotation in degrees, centered to object being rotated
              // & some less generic ones:
              // we currently 'share' all params for each graphic objects,
              // these may be empty, but are kept to be able to quickly change a type of graphic item
              // and get back to the previous type's params or stuff ( does make sense ? )
              // -- shape
              _shapeType: "Circle", // circle, star, polygon, ..not quite useful for our 'main' needs
              // -- image ( R: can be an image covering an entire face if the user has DL-ed it & re-upload-ed it for preview )
              _imageUrl: "defaultImgURL", // more useful ( R: provide way to upload imgs locally - aka to client )
              // -- text
              _textValue: "defaultTextValue",
              _textFont: "Arial",
              _textSize: "40",
              _textFilled: false,
              _textFillColor: "#deadbe", //, "cyan",
              _textStroked: true,
              _textStrokeColor: "#debeef", //"orange",
              _textHorizontalAlign: "center", // left||center||right
              _textVerticalAlign: "middle", // top||bottom||middle
              testColor: '#debeef' //'rgba(255,0,255)' //'#00ff00' //'purple' // debugging color picker inputs & trying feaguring out why the heck updates but not correct initial color value/preview
              // weirdly, seems to comes from using css color names or rgb() instead of #<hex>

              // pattern
              // --> we'll see later for this 'special' type & how to best integrate/implm its different parts ;P
            });
          },
          // removing a graphic item to a 'face' inner/outer chunk
          removeGraphicItem: function(faceId, faceType, graphicItemIdx) {
            app.shirtData.facesDatas[faceId][faceType].graphics.splice(
              graphicItemIdx,
              1
            );
          },
          // moving a graphic item upmost in the layering stakck order for later drawing in correct order
          layerUpMostGraphicItem: function(faceId, faceType, graphicItemIdx) {
            if (graphicItemIdx > 0) {
              /*
                    var toRePush = app.shirtData.facesDatas[faceId][
                      faceType
                    ].graphics.splice(graphicItemIdx, 1);
                    */
              var toRePush =
                app.shirtData.facesDatas[faceId][faceType].graphics[
                  graphicItemIdx
                ];
              app.shirtData.facesDatas[faceId][faceType].graphics.splice(
                graphicItemIdx,
                1
              );
              app.shirtData.facesDatas[faceId][faceType].graphics.unshift(
                toRePush
              );
            }
          },
          // moving a graphic item downmost in the layering stakck order for later drawing in correct order
          layerDownMostGraphicItem: function(faceId, faceType, graphicItemIdx) {
            if (
              graphicItemIdx <
              app.shirtData.facesDatas[faceId][faceType].graphics.length - 1
            ) {
              /* was the stuff updating BUT not triggering redraw
                    var toRePush = app.shirtData.facesDatas[faceId][
                      faceType
                    ].graphics.splice(graphicItemIdx, 1);
                    */
              var toRePush =
                app.shirtData.facesDatas[faceId][faceType].graphics[
                  graphicItemIdx
                ];
              app.shirtData.facesDatas[faceId][faceType].graphics.splice(
                graphicItemIdx,
                1
              );
              app.shirtData.facesDatas[faceId][faceType].graphics.push(
                toRePush
              );
              console.log(toRePush); // working fine
              // won't trigger any redraw ?!
              /*
                    app.shirtData.facesDatas[faceId][faceType].graphics.push(
                      toRePush
                    );
                    */
              //  forces triggerring a Vue array detection change ?
              /*
                    Vue.set(
                      app.shirtData.facesDatas[faceId][faceType].graphics,
                      app.shirtData.facesDatas[faceId][faceType].graphics.length,
                      toRePush
                    );
                    */
            }
          },
          // moving a graphic item upward in the layering stakck order for later drawing in correct order
          layerUpGraphicItem: function(faceId, faceType, graphicItemIdx) {
            if (graphicItemIdx > 0) {
              var tmp =
                app.shirtData.facesDatas[faceId][faceType].graphics[
                  graphicItemIdx - 1
                ];
              app.shirtData.facesDatas[faceId][faceType].graphics[
                graphicItemIdx - 1
              ] =
                app.shirtData.facesDatas[faceId][faceType].graphics[
                  graphicItemIdx
                ];
              /* contrary to adding or removing, won't trigger any redraw
                    app.shirtData.facesDatas[faceId][faceType].graphics[
                      graphicItemIdx
                    ] = tmp;
                    */
              //  forces triggerring a Vue array detection change
              Vue.set(
                app.shirtData.facesDatas[faceId][faceType].graphics,
                graphicItemIdx,
                tmp
              );
            }
          },
          // moving a graphic item downward in the layering stakck order for later drawing in correct order
          layerDownGraphicItem: function(faceId, faceType, graphicItemIdx) {
            if (
              graphicItemIdx <
              app.shirtData.facesDatas[faceId][faceType].graphics.length - 1
            ) {
              var tmp =
                app.shirtData.facesDatas[faceId][faceType].graphics[
                  graphicItemIdx + 1
                ];
              app.shirtData.facesDatas[faceId][faceType].graphics[
                graphicItemIdx + 1
              ] =
                app.shirtData.facesDatas[faceId][faceType].graphics[
                  graphicItemIdx
                ];
              /* contrary to adding or removing, won't trigger any redraw
                    app.shirtData.facesDatas[faceId][faceType].graphics[
                      graphicItemIdx
                    ] = tmp;
                    */
              //  forces triggerring a Vue array detection change
              Vue.set(
                app.shirtData.facesDatas[faceId][faceType].graphics,
                graphicItemIdx,
                tmp
              );
            }
          }
        }
      });
    </script>
  </body>
</html>
